div#memoryBoard{
	background:white;
	border:#999 1px solid;
	width:77%;
	height:659px;
	padding:24px;
	margin:60px auto;
}
div#memoryBoard > div{
	background: url(Pics/host.PNG);
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}