
/* Layout for mobiles */

nav {
    width:100%;
    float:none;
    height:auto;
    
}

nav ul li a {
    width:91%;
    padding:4% 4% 4% 2%;
    border-radius:0px;
}

.active {
    border-radius:0px;
}

body {
    background-image:none;
    background-color:#607FBF;
}


#content {
    
    width:98%;
}

#footer {
    width:98%;
    margin:0;
    
}

.paragraph {
     margin: 5% 4.5% 5% 4.5%;
}


div.blog-post {
    margin:2% 2% 2% 2%;
    padding:3% 3% 3% 3%;
}


.pic-class {
    width:60%;
    height:50%;
    
}

#vektormoln {
    width:60%;
    height:50%;
    float:right;
    padding:5px;
    margin:5px;
}

#Jlogga {
    width:100%;
}


h1 {
    margin:1% 1% 1% 1%;
    font-size:140%;
    padding:2%;
    
}

h2 {
    font-size:120%;
    font-style:italic;
    font-weight:bold;
}