/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
 /* custom CSS --> */

#container {
    width:1200px;
    margin:auto;
    text-align:justify;
    background-color:#1c5ab4;
    overflow:auto;
    background-image: url(../Css/Pics/Testbackgrund.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:scroll;
 }
#header {
    width:100%;
    
}
#nav {
    width:10%;
    background-color: rgba(68,53,179,0.7);
    float:left;
    
    margin: 30px, 0px, 0px, 0px
    
}

#content {
    width:90%;
    text-align:center;
    float:right;
    background-color:rgba(146, 91, 121, 0.7);
}
#footer {
    width: 90%;
    
}
body {
    font-size:16px;
    text-align: center; }


h1,h2, h3, h4, h5, h6 {
    font-family: "garamond, bell MT, helvetica";
    font-size: 2em;
    line-height: 20%;
    
  }   
p {font-size:1.1em;} 

a {text-decoration: underline;} 
a:link { color:green;}
a:visited { color:#ec008c;}
a:focus {color:red;}
a:hover {color:#4ff1f2;}
a:active {color:gray;} /*the link styles must be in this order or the link settings will override eachother and they won't work */

    
#nav ul .mainmenu {
    margin:0px;
    padding:0px;
    list-style-type:none;
    
   

}
#nav ul .mainmenu li {
    display:list-item;
    background:#bcd3f3;    
    border-radius:15px;   
    width:120px;
    height:40px;
    border: 2px outset gray;
    
    text-align:center;
    
    
 ol {
    font-size:1.3em;
    font-family:"bookman old style","georgia", "garamond", "helvetica";
    line-height:1.1em;
    list-style-type:decimal ;
    padding:25px;
     
 }
 
 ol li {
    margin-left:15px;
    list-style-type:decimal;
    
     
 }
 
 ol li  dt {
     font-style:italic;
     
}

ol li  dd {
    margin-left:40px;
    
    background:url(/Css/Pics/iconblogg.png) /40px 35px no-repeat;
     background-color:rgba(188, 211, 243, 0.8);
     