/* Mendokse */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, footer, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
 /* custom CSS --> */

/* Layout of the pages's different blocks */

#container {
    width:100%;
    margin:auto;
    text-align:justify;
    overflow:auto;
    font-size:14px;
    border:0px solid black;
 }

#header {
    width:100%;
    background-image:url(Pics/sail.png);
    background-size:10%;
    background:no-repeat;
    
}

.logo {
    width:35%;
    padding-top:2%;
    padding-bottom:3%;
    
}

#content {
    width:72%;
    margin:auto;
    margin-bottom:20px;
    text-align:left;
    float:left;
    line-height:120%;
    border: 1px solid black;
    background-color:rgba(235, 232, 255, 0.9);
}
#footer {
    width: 70%;
    background-color:rgba(235, 232, 255, 0.9);
    clear:both;
    margin-left:16.2%;
    border:1px solid black;
    padding:1%;
    font-size:100%;
    font-family:"georgia";
}

body {
    font-size: 14px; /* the absolute size for the font-size */
    background-image:url(Pics/havtest.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    margin:0 5%;
    
    
}

  /* The navigation menu */ /* The navigation menu was a pain to do...in the end I took away the div tag <nav> and put just <nav> */

nav {
    width:16%;
    float:left;
    margin: 0% 0.2% 0% 0%;
}

nav ul {         
    width:100%;
    clear:left;
    
}    

nav ul li {   /* One of my problems with the menu was that I first didn't get which nav element corresponded to which  */
    font-size:1.3em;
    font-family:"bookman old style","garamond";
    text-align:center;
    margin-bottom:5px;
    
}

nav ul li a {
    display:inline-block;
    background:#bcd3f3;
    border-radius:7px;
    padding:4% 1% 4% 1%;
    border:2px outset gray;
    width:93%;
}
 

a:hover  { /* The hover attribute makes something happen when the mouse pointer is on the element. */ 
    background:#1987b0;  /* And in this case it gives the chosen element a different color */
    
    
} 


.active { /* This is like the passive element but is effects the "active" element in the menu*/
    display: inline-block;
    background:#6dbfdd;
    border-radius:7px;

    
    
}
.active:hover {
      background:#1987b0;
}


/* CSS Sprites in the menu */

#starticon {
    background-image:url(Pics/boktest2.png);
    background-repeat:no-repeat;
    background-position:0px 1px;
}

#starticon:hover {
    background-position: 0px -41px;
}
    
#starticon:active  {
    background-position:0px -80px;
}

#labicon {
    background-image:url(Pics/boktest2.png);
    background-repeat:no-repeat;
    background-position:0px -120px;
}

#labicon:hover {
    background-position:0px -157px;
}

#labicon:active {
    background-position:0px -200px;
}

#presicon {
      background-image:url(Pics/boktest2.png);
    background-repeat:no-repeat;
    background-position:0px -238px;
}

#presicon:hover {
    background-position:0px -278px;
}

#presicon:active {
    background-position:0px -318px;
}

#contacticon {
    background-image:url(Pics/boktest2.png);
    background-repeat:no-repeat;
    background-position:0px -360px;
}

#contacticon:hover {
    background-position:0px -400px;
}

#contacticon:active {
    background-position:0px -440px;
}
 /* List layout */
 
.ol {
    list-style-type:decimal;
    font-family:"bookman old style","garamond";
    margin:0px 45px 0px 45px;
}

.ul {
    list-style-type:disc;
    margin: 5px;
    margin:0px 45px 0px 45px;
}
    
.ul li {
    margin-left:40px;
    font-family:"bookman old style";
    font-size:1.2em;
    padding:0.2%;
}

.ul li ul {
    margin-left:10px;
    font-family:"bookman old style";
    font-size:0.75em;
    list-style-type:disc;
}

.ol li dl dt {
    font-style:italic;
    margin:1%;
    
}

.ol li dl dd {
    font-size:90%;
    margin-left:4%;
}


.ol li .ul {
    font-size:0.80em;
}
    
.ol li {
     margin-left:40px;
    font-family:"bookman old style";
    font-size:1.2em;
}    

.dl {
    margin: 5px;
    margin:0px 45px 0px 45px;
    font-family:"bookman old style", "helvetica";
    font-size:1.2em;
   
} 

.dl dt {
    font-style:italic;
    margin-top:10px;
    margin-bottom:10px;
}

.dl dd {
    margin:1% 3%;
    font-size:100%;
    margin:1%;
}
 
 
/* Heading and paragraph layout: fonts, size, margins etc */

h1 {
    font-family:"bookman old style", "georgia";
    font-size:3em;
    font-weight:bold;
    margin: 45px 45px 60px 45px;
    color:#1b1464;
    }
h2 {
    font-family:"bookman old style","georgia";
    font-size:2.5em;
    font-weight:none;
    margin-top:25px;
    margin-bottom:25px;
    color:#1b1464;
}
h3 {font-family:"bookman old style","georgia";
    font-size:1.5em;
    font-style:italic;
    margin-top:25px;
    margin-bottom:25px;
    color:#1b1464;
}
h4 {font-family:"bookman old style","georgia";
    font-size:1.2em;
    font-style:italic;
    margin-top:25px;
    margin-bottom:25px;
    color:#1b1464;
    
}

p {
    font-size:1.3em;
    font-family:"bookman old style","georgia";
    line-height:1.1em;
    margin:15px 0px 15px 0px;
    padding:0px 0px 0px 0px;
    color:#1b1464;
    
}  


/* Link layout */

a {text-decoration: none;} 
a:link { color:green;}
a:visited { color:#f26c4f;}
a:focus {color:navy;}
a:hover {color:#6df6de; }
a:active {color:purple;} /*the link styles must be in this order or the link settings will override eachother and they won't work */
 
.paragraph {  /* this class decides the side margins for the headings and the paragraphs  */
     margin: 50px 45px 45px 45px;
}
     
 
     
  
 
 /* layout for blogpost*/
 
 div.blog-post {
     
     border:2px double gray;
     margin:45px 45px 45px 45px;
     padding:20px 20px 20px 20px;
     background:url(/Css/Pics/iconblogg.png) top right/ 8% no-repeat;
     background-color:rgba(188, 211, 243, 0.8);
}
     
     
 div.blog-post h4 {
     font-size:1.2em;
     font-style:italic;
     font-weight:bold;
     margin-top:10px;
    
 }

.blog-spot p {
    padding:10px 10px 10px 10px;
}

/* Blog-posts layout */

.pic-class {  /* floated an image in a blog-post by this class */
    float:right;
    padding:5px;
    margin:5px;
    width:50%;
}

.vid {
    width:50%;
    float:right;
    padding:5px;
    margin:5px;
    
}

div.clearfix {
    overflow:hidden;
}

#vektormoln {
    width:50%;
    float:right;
    
}
 
 /* Pictures */
 
 #Skeppet {
    width:50%;
    border:2px ridge gray;
    padding:4px;
    position:relative;
    margin:3% 23% 5% 23%;
}
 
 
 #Gangw {
    width:50%;
    border:2px ridge gray;
    padding:4px;
    position:relative;
    margin:5% 23% 0% 23%;
}
 
 #mob {
     width:20%;
     float:right;
     margin:0% 1%;
 }
 
 /* Table'*/
 
thead {
    border:2px solid navy;
    table-layout:auto;
    width:300px;
}

tbody {
    border:2px solid navy;
}
    
tfoot {
    border:2px solid navy;
        
    }

tfoot p {
    font-size:1em;
}

th {
    border:2px solid navy;
}

tr {
    border:2px solid navy;
}

td {
    border:2px solid navy;
}

th p {
    margin:5px;
    padding:3px;
    
}

td p {
    margin:5px;
    padding:3px;
}
td p em {
    font-style:italic;
    margin-right:15px;
}
    
    
    #contact-form {
    margin:2%;
}
    
    .contact_form label {
    float:left;
}



 /* Colors:
 Bgcolor in content:235, 232, 255
 Bgcolor in footer:235, 232, 255
 Bgcolor in navigationmanu: #bcd3f3

 f26c4f
 ec008c
 
 */
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 